# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.history
# Node dependencies
node_modules
package-lock.json
public/uploads
ecosystem.config.js

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example
